<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>

        </title>
    </head>
    <body>
    <% include public/header.ejs%>

        這是一個ejs模板引擎
        <h2><%=titles%></h2>
        <h2>Users is <%=user%></h2>
    </body>
</html>