<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>

        </title>
    </head>
    <body>
        <h2>list arr</h2>

        <ul>
            <%for(var i=0;i<list.length;i++){%>
            <li>
                <%=list[i]%>
            </li>
            <%}%>
        </ul>
        <h2>條件判斷</h2>
        <%if(nums>50){%>
            大於50
        <%}else{%>
            小於50
        <%}%>
    </body>
</html>