<% include header%>
    <div class="ui form segment" style="width:400px;margin:60px auto">
        <form method="post">
           
                <input type="text" placeholder="用戶名" name="name">
            <br><br>
                <input type="password" placeholder="密碼" name="password">
            <br><br>
            <input type="submit" class="ui button fluid" value="登入">
        </form>
    </div>

<% include footer%>