
<body class='bg-light'>
    <% include header.ejs %>
    <div class='content'>
        <form action='/users/upload' enctype="multipart/form-data" method='post' >
            <div class='offset-md-3'>
                <div class='form-group' id='picture'>
                    <h2><b>修改大頭貼</b></h2>
                    <img id="preview_img" class='img-thumbnail' alt="empty preview" src='/0.jpg' style="width:300px;height:300px">
                    <input type="file" id="uploader" class='upload' name='file' multiple>
                </div>
            </div>
            <div class="form-group offset-md-4">
                <input type="submit" class='btn btn-primary '>
            </div>
        </form>
    </div>
  
</body>
<script>
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview_img").attr("src", e.target.result);
    }
    $("#uploader").change(function () {
        var upload_file = $("#uploader")[0].files[0];
        reader.readAsDataURL(upload_file);
    })
</script>
